<section class="offcanvas">
  <div class="offcanvas-teaser">
    <a href="#" class="offcanvas-toggle">
      <div class="navicon">
        <div class="navicon-lines"></div>
      </div>
    </a>
    <div class="offcanvas__person">
      <%- image_tag(theme.person_image, {alt: config.author, class: 'img-circle'}) %>
    </div>
  </div>
  <div class="offcanvas-main">
    <div class="offcanvas-header">
      <div class="oheader">
        <div class="oheader__person">
          <%- image_tag(theme.person_image, {alt: config.author, class: 'img-circle'}) %>
        </div>
        <div class="oheader-social">
          <div class="socials">
            <ul>
              <li><%- link_to(theme.linkedin, ' ', {external: true, class: 'fa-linkedin'}) %></li>
              <li><%- link_to(theme.github, ' ', {external: true, class: 'fa-github-alt'}) %></li>
              <li><%- link_to(theme.twitter, ' ', {external: true, class: 'fa-twitter'}) %></li>
            </ul>
          </div>
        </div>
        <h2 class="oheader-name"><%- config.author %></h2>
      </div>
    </div>
    <div class="offcanvas-body">
      <nav class="main-menu">
        <ul>
          <% for (var i in theme.menu){ %>
          <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
        </ul>
      </nav>
      <div class="widgets">
        <% theme.widgets.forEach(function(widget){ %>
          <%- partial('_widget/' + widget) %>
        <% }) %>
      </div>
    </div>
    <footer class="offcanvas-footer">
      <div>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></div>
    </footer>
  </div>
</section>